.banner {
  padding: 40px 0;
  position: relative;
  margin-top: 70px;
  height: 400px;
}

.banner_wrap {
  position: relative;
  width: 640px;
  margin: 0 auto;
  box-sizing: border-box;
}

.swiper-slide {
  width: 100%;
  transition: transform 0.3s ease;
  border-radius: 16px;
}

.mySwiper {
  /* 의도적으로 덮어쓴거 */
  overflow: visible;
}
.swiper-slide_item {
  display: block;
  width: 640px;
  height: 320px;
  border-radius: 16px;
  margin: 0 auto;
  overflow: hidden;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner_pg .swiper-pagination span {
  width: 6px;
  height: 6px;
}
.banner_pg .swiper-pagination-bullet {
  background-color: #1c1c1c;
  margin: 0 2px !important;
}
.banner_pg .swiper-pagination-bullet-active {
  background: #000000;
}
.banner_slide_prev {
  position: absolute;
  top: 50%;
  left: calc(50% - 320px);
  transform: translateX(-50%) translateY(-50%) rotate(180deg);
  width: 46px;
  height: 46px;
  border: 1px solid #e5e7eb;
  z-index: 999;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.banner_slide_next {
  position: absolute;
  top: 50%;
  left: calc(50% + 320px);
  transform: translateX(-50%) translateY(-50%);
  width: 46px;
  height: 46px;
  border: 1px solid #e5e7eb;
  z-index: 999;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
