.banner {
  padding-top: 40px;
  position: relative;
  width: 100%;
}
.banner_layout {
  width: 100%;
}
.banner_wrap {
  position: relative;
  width: 100%;
}

.swiper-slide {
  width: 100%;
}
.mySwiper {
  width: 100%;
  height: 320px;
  position: relative;
}
.swiper-slide_item {
  width: 640px;
  height: 320px;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
}
.swiper-pagination {
  justify-content: center;
  display: flex;
  padding-top: 20px;
}
.banner_slide_prev {
  position: absolute;
  top: 50%;
  left: 0;
  width: 46px;
  height: 46px;
  border: 1px solid #000;
  z-index: 999;
  border-radius: 50%;
  transform: rotate(180deg);
  justify-content: center;
  align-items: center;
}
.banner_slide_next {
  position: absolute;
  top: 50%;
  right: 0;
  width: 46px;
  height: 46px;
  border: 1px solid #000;
  z-index: 999;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
