.category {
  position: relative;
  width: 100%;
}
.category .layout {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
.category_wrap {
  width: 100%;
  padding-top: 55px;
  display: flex;
  gap: 64px;
  padding-top: 56px;
  justify-content: center;
}
.category_activity {
  position: relative;
  display: flex;
}
.category_activity a {
  width: 80px;
  height: 80px;
  background-color: #f7f7f7;
  border-radius: 20px;
  padding: 16px;
}
.category_activity_hot {
  position: absolute;
  background-color: #ff5247;
  padding: 2px 5px;
  top: -10px;
  left: 25px;
  color: #fff;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  align-items: center;
}
.activity_img {
  width: 48px;
  height: 48px;
  position: absolute;
  margin: 0 auto;
}
.activity_img img {
  width: 100%;
  height: 100%;
}
.category_activity_title {
  position: absolute;
  text-align: center;
}
.category_contest {
  position: relative;
  display: inline;
}
.category_contest a {
  width: 80px;
  height: 80px;
  background-color: #f7f7f7;
  border-radius: 20px;
  padding: 16px;
}
.contest_img {
  width: 48px;
  height: 48px;
  margin: 0 auto;
}

.contest_img img {
  width: 100%;
  height: 100%;
}
.category_contest_title {
}
.category_intern {
}
.category_intern a {
  position: relative;
  width: 80px;
  height: 80px;
  background-color: #f7f7f7;
  border-radius: 20px;
}
.intern_img {
  width: 48px;
  height: 48px;
  margin: 0 auto;
}

.intern_img img {
  width: 100%;
  height: 100%;
}
.category_intern_title {
}
.category_study {
}
.category_study a {
  position: relative;
  width: 80px;
  height: 80px;
  background-color: #f7f7f7;
  border-radius: 20px;
}
.study_img {
  width: 48px;
  height: 48px;
  margin: 0 auto;
}

.study_img img {
  width: 100%;
  height: 100%;
}
.category_study_title {
}
