.category {
  position: relative;
  width: 100%;
  padding-bottom: 120px;
}
.category .layout {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
.category_wrap {
  width: 100%;
  padding-top: 55px;
  display: flex;
  gap: 64px;
  padding-top: 56px;
  justify-content: center;
}
.category_activity,
.category_contest,
.category_intern,
.category_study {
  position: relative;
  display: block;
}
.category_activity a,
.category_contest a,
.category_intern a,
.category_study a {
  width: 80px;
  height: 80px;
  background-color: #f7f7f7;
  border-radius: 20px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.category_activity_hot {
  position: absolute;
  background-color: #ff5247;
  padding: 2px 5px;
  top: -10px;
  left: 25px;
  color: #fff;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  align-items: center;
}
.activity_img,
.contest_img,
.intern_img,
.study_img {
  width: 48px;
  height: 48px;
  margin: 0 auto;
}
.activity_img img,
.contest_img img,
.intern_img img,
.study_img img {
  width: 100%;
  height: 100%;
}
.category_activity_title,
.category_contest_title,
.category_intern_title,
.category_study_title {
  position: absolute;
  text-align: center;
  padding-top: 120px;
}
