.wrap {
  height: 5000px;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.layout {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  height: 71px;
  background-color: red;
}
.header_left {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 20px;
}
.header_left_wrap {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header_left_wrap img {
}
.header_left_wrap a {
  color: #1c1c1c;
  font-weight: 500;
}
.header_right {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 20px;
}
.header_right_wrap {
  display: flex;
  align-items: center;
  gap: 20px;
}
.gonggo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.ad {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header_right_wrap a {
}
.header_right_wrap a img {
}
