.kok {
  width: 100%;
  position: relative;
  background-color: #f7f7ff;
  border-top: 1px solid #e5e7eb;
  border-bottom: 1px solid #e5e7eb;
  margin-top: 20px;
  height: 523px;
}
.kok .layout {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  height: 523px;
}

.kok_title {
  display: block;
  font-size: 24px;
  font-weight: 700;
  margin-top: 54px;
  width: 100%;
}
.kok_detail {
  padding-top: 30px;
  display: flex;
  gap: 24px;
  padding-bottom: 50px;
}

.kok_detail_k {
  color: #5a64f9;
}
.kok_detail_box {
  width: 224px;
  padding: 10px;
}
.kok_detail_box:hover {
  background-color: #ebedf6;
  border-radius: 20px;
}
.detail_img {
  width: 224px;
  height: 224px;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid #e6e6ee;
}

.detail_img img {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.detail_img img:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.detail_cg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 14px;
}
.detail_cg_ct {
  font-size: 11px;
  background-color: #eff3fe;
  text-align: center;
  color: #346df3;
  padding: 2px 5px;
}
.detail_cg_ad {
  background-color: #dedee5;
  color: #fff;
  border-radius: 10px;
  font-size: 10px;
  padding: 1px 6px;
}
.detail_title {
  font-size: 15px;
  margin-top: 7px;
}
.detail_day {
  color: #1c1c1c;
  font-weight: 600;
  font-size: 17px;
  margin-top: 10px;
}
